.container,
.add-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.add-item-input {
  border: 2px solid #a5ca79;
  background-color: #a5ca79;
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
}
.add-item-input input {
  /* width: 100%; */
  display: flex;
  /* flex-direction: column; */
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--shadow-color);
  box-shadow: 0px 2px 5px var(--shadow-color);
  background-color: var(--white-color);
  margin: 15px;
}
.container .error-massege {
  color: var(--red-color);
  /* margin-top: 0.1em; */
  font-size: 13px;
}
.addNewItem-btn:hover {
  cursor: pointer;
  box-shadow: 0px 2px 5px var(--text-color) inset;
}
.addNewItem-btn {
  background-color: #f2f4f0;
  color: var(--text-color);
  font-size: 20px;
  border-radius: 0.6em;
  padding: 0.15em 1em;
  margin-top: 1em;
  border: 1px solid var(--shadow-color);
  box-shadow: 0px 2px 5px var(--text-color);
}
