.form {
  max-width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: -1.3em;
}

.form-label {
  text-align: start;
  font-size: 15px;
  color: var(--text-color);
}

.input-container {
  display: flex;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--shadow-color);
  box-shadow: 0px 2px 5px var(--shadow-color);
  background-color: var(--white-color);
}

textarea {
  min-height: 10em;
}

.submit-btn {
  border: 1px solid var(--shadow-color);
  border-radius: 0.7em;
  width: 40%;
  background-color: var(--mustard-color);
  margin: 2em;
  font-size: 1.5em;
  box-shadow: 0px 2px 5px var(--shadow-color);
  cursor: pointer;
}

.submit-btn:disabled {
  box-shadow: none;
}

.submit-btn:hover:not(:disabled) {
  box-shadow: 0px 2px 5px var(--shadow-color) inset;
}

.form .error {
  color: var(--red-color);
  margin-top: 0.1em;
  font-size: 13px;
}

.invisible {
  visibility: hidden;
}

.valid {
  background-image: url("../assets/bx-check.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20px;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0px 2px 5px var(--shadow-color) inset;
}

@media (max-width: 800px) {
  .form {
    max-width: 80%;
  }

  label {
    font-size: 20px;
  }

  input,
  textarea {
    font-size: 20px;
  }

  .submit-btn {
    font-size: 2em;
  }

  .form .error {
    font-size: 20px;
  }

  .valid {
    background-size: 24px;
  }
}
