.main-top {
  width: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../assets/main-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
}
.main-top-text {
  padding: 2em;
  background-color: #a6ca79e1;
  border-radius: 1em;
}

.main-top-text p {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #fcf7f7;
}

.main-about-contact h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #464746;
}
.main-about-contact {
  margin-bottom: 0.1em;
  background-color: #a5ca79;
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
}
.about,
.contact {
  text-align: left;
  justify-content: center;
  width: 50%;
  padding: 1em 2em;
}

@media (max-width: 720px) {
  .main-top {
    height: 50vh;
  }
  .main-about-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-top-text p {
    font-size: 1.5em;
  }
  .main-top-text {
    padding: 1.5em;
    margin: 1em;
  }
  .about,
  .contact {
    width: 100%;
    padding: 1em;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .main-top {
    height: 33vh;
  }
  .main-about-contact h1 {
    font-size: 1.2em;
  }
  .main-top-text {
    padding: 0.5em;
  }
  .main-top-text p {
    font-size: 1em;
  }
  .main-about-contact {
    margin-bottom: 0.1em;
    font-size: 1em;
  }
}
