nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #a5ca79;
  text-decoration: none;
}
nav .logo {
  width: 3.8em;
  height: 3.8em;
}

nav a {
  font-size: 1.7em;
  padding: 1em;
  text-decoration: none;
  font-weight: bold;
  color: rgb(40, 40, 40);
}
.active {
  color: #ebe6e6;
}
nav a:hover {
  color: whitesmoke;
  cursor: pointer;
}
nav .nav-Right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.shoppingCart {
  display: flex;
  flex-direction: row;
  padding-right: 0.5em;
}
.shoppingCart .CountCartItemShow {
  margin: -0.6em;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  padding: 3px;
  background-color: #24ff00;
  place-content: center;
}

svg.shopping-Basket-icon {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5em;
}
.shoppingCart .CountCartItemHidden {
  margin: -0.6em;
  width: 1em;
  visibility: hidden;
}

@media (max-width: 620px) {
  nav .logo {
    width: 3em;
    height: 3em;
  }

  .nav-Center {
    flex-direction: row;
    align-items: center;
  }

  .nav-Center a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.3em;
    font-size: 1.5em;
  }
  svg.shopping-Basket-icon {
    font-size: 1em;
  }
  .shoppingCart .CountCartItemShow {
    padding: 0px;
    font-size: 0.6em;
  }
}

@media (max-width: 380px) {
  nav .logo {
    width: 2.2em;
    height: 2.2em;
  }
  nav a {
    font-size: 1.5em;
    padding: 0.3em;
  }
}
