.main-container {
  display: flex;
  flex-direction: column;
}
.main-container .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em;
}
.container .items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 300px;
  height: 450px;
  margin: 15px;
  border: 1px solid #a5ca79;
  border-radius: 1em;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.container .item-img {
  width: 8em;
  height: auto;
}
.container .item-info {
  align-items: center;
  padding: 1em;
  font-size: 1.2em;
}
.quantityContainer {
  display: flex;
  justify-content: space-between;
  width: 7em;
  border: 1px solid #a5ca79;
  border-radius: 8px;
  place-items: center;
  padding: 0 0.5em;
  margin-bottom: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
button.quantityButtonMinus,
button.quantityButtonPlus {
  border: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.51);
  font-size: 1.2em;
}
.main-container .add-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.addItem-btn {
  background-color: #a5ca79;
  color: var(--text-color);
  font-size: 20px;
  border-radius: 0.6em;
  padding: 0.15em 1em;
  margin-top: 1em;
  border: 1px solid var(--shadow-color);
  box-shadow: 0px 2px 5px var(--text-color);
}

.addItem-btn:hover {
  box-shadow: 0px 2px 5px var(--text-color) inset;
}

.admin-edit {
  display: flex;
  justify-content: space-between;
  width: 4em;
  place-items: center;
  padding: 0 0.5em;
  margin-bottom: 1em;
}

.delet-item {
  color: red;
}
.edit-item:hover,
.delet-item:hover {
  color: blueviolet;
  cursor: pointer;
}
