.sort-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.sort-options {
  position: absolute;
  top: 100%;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.sort-options button {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: left;
  border: none;
  background: none;
  color: black;
  cursor: pointer;
}

.sort-options button:hover {
  background-color: #f0f0f0;
}
.sort-btn:hover {
  cursor: pointer;
  box-shadow: 0px 2px 5px var(--text-color) inset;
}

.sort-btn {
  background-color: #f2f4f0;
  font-size: 1em;
  border-radius: 0.6em;
  padding: 0.15em 1em;
  margin-top: 1em;
  border: 1px solid var(--shadow-color);
  box-shadow: 0px 2px 5px var(--text-color);
}
